<!DOCTYPE html>
<html>
    <head>
        <title>beautician</title>
        <link rel="stylesheet" href="../css/vendor.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="aa">
            <p style="font-size:xx-large;font-family:germania one;color:white;margin-top:-15px;margin-left:5px;">Sewa</p>
            <p class="translate-y-5" style="font-size:xx-large;font-family:germania one;color:#92af19;margin-top:-70px;margin-left:75px;">ganj</p>
        </div >
        <a  class="absolute right-5 top-5 rounded-md bg-[#92af19] text-white px-3 py-1" href="/">Home</a>
        <!-- <div class="bb">
            <a href="./"><button class=jj>HOME</button></a>
            
        </div > -->
        <div class="flex justify-center items-center">
        <div class="container2">
            <img class="a" src="../images/economical.jpg">
            <p style="font-size:x-large;margin-left:25px;">Economical-pack<br>price:-$<br><a href="#"><button class=ll>See More</button></a></p>
        </div>
        <div class="container2">
            <img class="a" src="../images/premium.jfif">
            <p style="font-size:x-large;margin-left:25px;">Premium-pack<br>price:-$$<br><a href="#"><button class=ll>See More</button></a></p>
        </div>
        <div class="container2">
            <img class="a" src="../images/luxry.jfif">
            <p style="font-size:x-large;margin-left:25px;">Luxury-pack<br>price:-$$$<br><a href="#"><button class=ll>See More</button></a></p>
        </div>
    </div>
    </body>
</html>