<!DOCTYPE html>
<html>
<head>
    <title>ELECTRICAL</title>
    <link rel="stylesheet" href="../css/vendor.css">
</head>
<body>
    <div class="aa">
        <p style="font-size:xx-large;font-family:germania one;color:white;margin-top:-15px;margin-left:5px;">Sewa</p>
        <p style="font-size:xx-large;font-family:germania one;color:#92af19;margin-top:-70px;margin-left:75px;">ganj</p>
    </div>
    <div class="bb">
        <a href="/"><button class=jj>HOME</button></a>
    </div>
    <div class="container">
        <a href="/fan-types"><button><img class="image" src="../images/fan.svg"></a></button><br><p style="margin-left:45px;color:white;">FAN</p>
    </div>
    <div class="container" style="margin-left:150px;margin-top:-162.5px;">
        <a href="#"><button><img class="image" src="../images/bulb.svg"></a></button><br><p style="margin-left:45px;color:white;">BULB</p>
    </div>    
    <div class="container" style="margin-left:275px;margin-top:-162.5px;">
        <a href="#"><button><img class="image" src="../images/doorbell.svg"></a></button><br><p style="margin-left:45px;color:white;">DOOR-BELL</p>
    </div>
    <div class="container" style="margin-top:-6PX;">    
        <a href="#"><button><img class="image" src="../images/fuse.svg"></a></button><br><p style="margin-left:45px;color:white;">FUSE</p>
    </div>
    <div class="container" style="margin-left:150px;margin-top:-162.5px;">
        <a href="#"><button><img class="image" src="../images/switch.svg"></a></button><br><p style="margin-left:45px;color:white;">SWITCH</p>
    </div>
    <div class="container" style="margin-left:275px;margin-top:-162.5px;">    
        <a href="#"><button><img class="image" src="../images/grinder.svg"></a></button><br><p style="margin-left:45px;color:white;">GRINDER</p>
    </div>
    <div class="container" style="margin-top:-6PX;">
        <a href="/wire-types"><button><img class="image" src="../images/wire.svg"></a></button><br><p style="margin-left:45px;color:white;">WIRE</p>
    </div>
</body>
</html>