<!DOCTYPE html>
<html>

<head>
    <title>types</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/vendor.css">

</head>

<body>
    <div class="fixed top-20 right-20 bg-[#92af19] px-5 py-2 rounded-md">
        <a class="text-xl" href="/vendor">proceed</a>
    </div>
    <div class="aa">
        <p style="font-size:xx-large;font-family:germania one;color:white;margin-top:-15px;margin-left:5px;">Sewa</p>
        <p class="translate-y-5" style="font-size:xx-large;font-family:germania one;color:#92af19;margin-top:-70px;margin-left:75px;">ganj</p>
    </div>
    <div class="bb">
        <a href="/"><button class=jj>HOME</button></a>
    </div>
    <div class="">
        <div class=container3>
            <img class="b" src="../images/installation.jpg">
            <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                Work:-ceiling-installation<br>price:Rs600/hr<br>visitation fee:-Rs100/-<br>ratings:-<img
                    src="../images/2stars.svg"></p>
            <a href="#"><button class=kk>Add+</button></a>
        </div>
        <div class=container3>
            <img class="b" src="../images/Decorative fan installation.jpg">
            <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                work:-decorative-fan-installation<br>price:Rs1000/-<br>visitation fee:-rs100/hr<br>Ratings:-<img
                    src="../images/2.5stars.svg"></p>
            <a href="#"><button class=kk>Add+</button></a>
        </div>
        <div class=container3>
            <img class="b" src="../images/unninstalation.jpeg">
            <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                work:-un-installation<br>price:Rs500/-<br>visitation fee:-Rs100/hr<br>ratings:-<img
                    src="../images/3stars.svg"></p>
            <a href="#"><button class=kk>Add+</button></a>
        </div>
        <div class=container3>
            <img class="b" src="../images/repairing-decorative-ceiling-fan.jpg">
            <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                Work:repairing-decorative-ceiling-fan<br>price:Rs600/hr<br>visditation fee:-Rs100/-<br>ratings:-<img
                    src="../images/3.5stars.svg"></p>
            <a href="#"><button class=kk>Add+</button></a>
        </div>
        <div class=container3>
            <img class="b" src="../images/cieling fan condensor replacement.jpg">
            <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                work:-ceiling-fan-condensor-resplacement<br>price:Rs300/hr<br>visitation fee:-Rs100/-<br>ratings:-<img
                    src="../images/2stars.svg"></p>
            <a href="#"><button class=kk>Add+</button></a>
        </div>
    </div>
    <!-- <div class=container3>
            <img class="b" src="../images/other.jpg">
                <p style="font-size:x-large;margin-left:20px;margin-top:50px;color:white;">book an electrican<br>price:depend on the scope of work<br>visitation fee:-Rs200/</p>
                <a href="/vendor"><button class=kk>See More</button></a>
        </div> -->
    <!-- <div class="container4">
            <img class="cc" src="../images/percentage.svg"><p>Get visitation fee off<br>On order above Rs400</p>
        </div> -->
</body>

</html>