

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewa-Ganj</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="scroll-smooth">

    <div id="main">

        <!-- ads -->
        <!-- <div class="fixed z-10 bottom-0 h-[100px] w-full bg-slate-400"> for ads</div> -->

        <!-- home -->
        <div class="relative h-screen w-full bg-gradient-to-b from-emerald-800 to-teal-500 overflow-hidden" id="home">
            <!-- nav bar -->
            <nav id="navbar"
                class="fixed z-50 max-lg:h-[70px] h-[100px] w-full px-[10%] text-white text-lg flex justify-between items-center rounded-2xl">
                <div id="logo">
                    <img class="max-lg:w-[70%]" src="../images/logo.svg" alt="logo">
                </div>
                <div class="flex gap-10 max-lg:hidden">
                    <a class="transition ease-in-out hover:scale-105 hover:text-[#92AF19] " href="#home">Home</a>
                    <a class="transition ease-in-out hover:scale-105 hover:text-[#92AF19] " href="#about">About</a>
                    <a class="transition ease-in-out hover:scale-105 hover:text-[#92AF19] "
                        href="#services">Services</a>
                    <a class="transition ease-in-out hover:scale-105 hover:text-[#92AF19] "
                        href="#contacts">Contacts</a>
                </div>
                <div class="flex items-center gap-5 max-lg:hidden">
                    <a class="transition ease-in-out hover:scale-105 hover:text-[#92AF19]" href="/login">Login</a>
                    <a class="transition ease-in-out hover:scale-110 hover:text-[#92af19] px-5 hover:bg-white py-1 bg-[#92AF19] rounded-full"
                        href="/signup">Sign up</a>
                </div>

                <div class="lg:hidden">
                    <img src="./images/menu.svg" alt="menu">
                </div>
            </nav>


            <!-- bg1 -->
            <div id="bg-compo-1"
                class="hidden z-0 lg:flex scale-0 opacity-0 transform translate-x-[-1/2] translate-y-[-1/2]">
                <div class="left-[30vw] top-[25vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"><img
                        src="../images/lghero.svg" alt=""></div>
                <div class="left-[25vw] top-[15vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[25vw] top-[35vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[2vw] top-[25vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[12vw] bottom-[-5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[45vw] bottom-[5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[20vw] top-[35vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[15vw] top-[20vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[5vw] bottom-[0vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[45vw] top-[37vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[25vw] bottom-[-5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
            </div>
            <!-- bg2 -->
            <div id="bg-compo-2"
                class="hidden z-0 lg:flex scale-0 opacity-0 transform translate-x-[-1/2] translate-y-[-1/2]">
                <div class="left-[35vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[20vw] top-[10vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[35vw] top-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[15vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[5vw] bottom-[25vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[45vw] bottom-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[30vw] top-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[35vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[50vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[5vw] bottom-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[15vw] bottom-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[45vw] bottom-[15vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>

            </div>

            <!-- hero -->
            <div class="grid grid-cols-3 h-screen max-lg:pt-[70px] pt-[100px] px-[10%] text-white">
                <!-- col 1 -->
                <div id="hero-content" class="col-span-1 flex flex-col  justify-center h-[70%] gap-5">
                    <h3 id="hero-title" class="text-8xl">Sewa<span class="text-[#92af19]">ganj</span></h3>
                    <h3 class="text-xl text-[#92af19] font-semibold">Services at your finger-tips...<span
                            class="text-white " id="auto-type">Electrician</span></h3>
                    <!-- Get Started -->
                    <a class="text-3xl px-5 py-1 rounded-lg bg-[#92af19] w-[70%] text-center transition ease-in-out hover:scale-110 hover:text-[#92af19] hover:translate-y-3 hover:bg-white"
                        href="/signup">Get
                        Started</a>
                </div>
                <div class="col-span-2 flex justify-center items-center">
                    <img id="hero-img" src="./images/hero.svg" alt="hero">
                </div>
            </div>

        </div>
        <!-- about -->
        <div id="about" class="relative h-screen w-full bg-transparent overflow-hidden px-[5%] pt-[10%]">
            <!-- grid -->
            <div class="h-full w-full grid grid-cols-6">
                <!-- col 1 -->
                <div class="col-span-2">
                    <div
                        class="flex justify-center items-center h-[300px] w-[240px] bg-emerald-800 translate-y-10 rounded-xl transition ease-out duration-150 hover:scale-105 hover:bg-transparent">
                            <img class="scale-110" src="../images/wrench.svg" alt="">
                    </div>
                    <div
                        class="flex justify-center items-center h-[300px] w-[240px] bg-emerald-400 translate-x-20 -translate-y-10 rounded-xl transition ease-out duration-150 hover:scale-105 hover:bg-transparent">
                        <img src="../images/electricity.svg" alt="">
                    </div>
                </div>

                <!-- col 2 -->
                <div class="col-span-2 flex flex-col items-center lg:pt-[25%] gap-5">
                    <h2 class="font-[poppins] text-4xl font-bold">who are we?</h2>
                    <h3 class="about-text text-center text-balance text-emerald-900">
                        <span class="text-2xl text-black">Sewa-Ganj</span> is an online platform that allows customer to
                        get access to home services as when
                        ,how, where they want the services.
                    </h3>
                    <h3 class="about-text text-center text-emerald-900">
                        sewaganj is your GATEWAY TO HASSLE-FREE Home solutions and trusted partner for all the home
                        services like electrician, plumber,movers and packers,women's and men's salon, grooming and many
                        more.
                    </h3>
                    <h3 class="about-text text-center text-emerald-900">
                        We ensure our customers a high quality, standardised and reliable service experience. To fulfill
                        this, we work closely with our service partners, enabling them with technology, training,
                        products, tools, insurance and brand, helping them succeed and deliver their work.
                    </h3>
                </div>
                <div class="col-span-2">
                    <div
                        class="flex justify-center items-center h-[300px] w-[240px] bg-emerald-800 translate-y-10 translate-x-52 rounded-xl transition ease-out duration-150 hover:scale-105 hover:bg-transparent">
                            <img src="../images/scissors.svg" alt="">
                    </div>
                    <div
                        class="flex justify-center items-center h-[300px] w-[240px] bg-emerald-400 translate-x-20 -translate-y-10 rounded-xl transition ease-out duration-150 hover:scale-105 hover:bg-transparent">
                            <img class="scale-95" src="../images/tap.svg" alt="">
                    </div>
                </div>
            </div>




        </div>


        <!-- services -->
        <div class="h-screen p-[10%] w-full bg-gradient-to-b from-emerald-900 to-teal-400" id="services">
            <div class="grid">

                <!-- row1 -->
                <div class="col-span-1 flex justify-between">
                    <a href="/electrician-types">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/electric.svg" alt="">
                            <h3 class="text-xl">Electrician</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/plumbing.svg" alt="">
                            <h3 class="text-xl">Plumbing</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/painting.svg" alt="">
                            <h3 class="text-xl">Painting</h3>
                        </div>
                    </a>
                    <a href="/beautician">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/salon.svg" alt="">
                            <h3 class="text-xl">Beautician</h3>
                        </div>
                    </a>
                </div>

                <!-- row 2 -->
                <div class="col-span-1 flex justify-between mt-10">
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/laundry.svg" alt="">
                            <h3 class="text-xl">Laundry</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/carpentor.svg" alt="">
                            <h3 class="text-xl">Carpenter</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/minorConstruction.svg" alt="">
                            <h3 class="text-xl">Minor Construction</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="h-[250px] w-[200px] bg-teal-400 flex flex-col items-center justify-center rounded-md transition ease-in-out hover:scale-105">
                            <img src="../images/mover&packers.svg" alt="">
                            <h3 class="text-xl">Movers & Packers</h3>
                        </div>
                    </a>

                </div>
            </div>
        </div>



        <!-- contacts -->
        <div class="h-screen w-full bg-transparent overflow-clip" id="contacts">
            <!-- feedback form -->
            <!-- <img class=" -z-10" src="./images/aboutSide.svg" alt=""> -->
            <div class="h-[50%] w-full px-[10%] grid grid-cols-2">
                <div class="col-span-1 flex justify-center items-center">
                    <img class="w-[60%]" src="../images/callCenter.png" alt="">
                </div>
                <div class="col-span-1">
                    <div class="p-[10%]">
                        <form action="#" class="flex flex-col gap-1">
                            <label for="email">Email</label><br>
                            <input class="border-2 border-solid border-emerald-500 bg-emerald-50 px-3 rounded-lg h-10"
                                type="email" placeholder="Enter your Email"><br>
                            <label for="Query">Query</label>
                            <textarea class="border-2 border-solid border-emerald-500 bg-emerald-50 px-3 rounded-lg"
                                name="" id="" cols="30" rows="5" placeholder="Enter your query"></textarea>
                            <button
                                class="text-white w-[30%] border-2 border-[#92af19] text-lg transition ease-in-out hover:scale-110 hover:text-[#92af19] px-5 hover:bg-white py-1 bg-[#92AF19] rounded-3xl hover:translate-y-1"
                                type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- contacts link section -->
            <div
                class="h-[50%] w-full bg-emerald-900  py-[100px] flex flex-col justify-center items-center gap-5 text-white">
                <h3 id="contacts-text" class="text-3xl">Sewa<span class="text-[#92af19]">ganj</span></h3>
                <div class="flex items-center justify-center gap-3">
                    <a href=""><img class="transition ease-in-out hover:scale-125" src="./images/facebook.svg"
                            alt=""></a>
                    <a href=""><img class="transition ease-in-out hover:scale-125" src="./images/insta.svg" alt=""></a>
                    <a href=""><img class="transition ease-in-out hover:scale-125" src="./images/link.svg" alt=""></a>
                    <a href=""><img class="transition ease-in-out hover:scale-125" src="./images/contacts.svg"
                            alt=""></a>
                </div>
                <h3>Sewaganj© <span id="year">2024</span></h3>
            </div>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>