<!-- <h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewa-ganj Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <div id="home"
            class="h-screen w-full over-flow bg-gradient-to-b from-emerald-800 to-teal-400 px-[10%] py-10 flex justify-center items-center overflow-hidden">
            <a class="absolute top-5 left-5 text-white " href="./">Home</a>
            <div class="relative z-10 h-[500px] w-[400px] border-8 border-solid border-white rounded-3xl">
                <form method="post" action="./signup" class="flex flex-col justify-center items-center gap-5 py-10">
                    <img src="./images/logo.svg" alt="">
                    <input name="name" type="text" class="px-5 rounded-lg h-10" placeholder="Enter your name">
                    <input name="email" type="text" class="px-5 rounded-lg h-10" placeholder="Enter your email">
                    <input name="password" type="password" class="px-5 rounded-lg h-10" placeholder="Create a password">
                    <input type="password" class="px-5 rounded-lg h-10" placeholder="Re-enter the password">
                    <button
                        class="text-white w-[50%] text-lg transition ease-in-out hover:scale-110 hover:text-[#92af19] px-5 hover:bg-white py-1 bg-[#92AF19] rounded-3xl"
                        type="submit">Sign up</button>
                    <h3 class=" text-white">Already have an account? <a class="underline" href="/login">Login</a></h3>

                </form>
            </div>





            <!-- bg1 -->
            <div id="bg-compo-1"
                class="hidden z-0 lg:flex scale-0 opacity-0 transform translate-x-[-1/2] translate-y-[-1/2]">
                <div class="left-[30vw] top-[25vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"><img
                        src="../images/lghero.svg" alt=""></div>
                <div class="left-[25vw] top-[15vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[25vw] top-[35vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[2vw] top-[25vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[12vw] bottom-[-5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="left-[45vw] bottom-[5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[20vw] top-[35vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[15vw] top-[20vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[5vw] bottom-[0vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[45vw] top-[37vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
                <div class="right-[25vw] bottom-[-5vw] h-20 w-20 bg-white absolute rounded-2xl opacity-25"></div>
            </div>
            <!-- bg2 -->
            <div id="bg-compo-2"
                class="hidden z-0 lg:flex scale-0 opacity-0 transform translate-x-[-1/2] translate-y-[-1/2]">
                <div class="left-[35vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[20vw] top-[10vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[35vw] top-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[15vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[5vw] bottom-[25vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="left-[45vw] bottom-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[30vw] top-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[35vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[50vw] top-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[5vw] bottom-[30vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[15vw] bottom-[20vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>
                <div class="right-[45vw] bottom-[15vw] h-14 w-14 bg-white absolute rounded-2xl opacity-15"></div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/signup.js"></script>
</body>

</html>