<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewa-ganj</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="overflow-hidden">
    <div class="h-screen w-full bg-transparent">
        <nav id="navbar"
            class="fixed bg-emerald-950 max-lg:h-[70px] h-[100px] w-full px-[10%] text-white text-lg flex justify-between items-center rounded-b-2xl">
            <div id="logo">
                <img class="max-lg:w-[70%]" src="../images/logo.svg" alt="logo">
            </div>
            <div>
                <a class="text-xl w-[200px] text-[#92af19]" href="/">Return Back to Home<img class="w-[10%]"
                        src="../images/arrow.svg" alt="">
                </a>
            </div>
        </nav>
        <div class="grid grid-cols-3 h-screen w-full pt-[100px] px-[5%]">
            <div class="col-span-2 grid grid-cols-2 mt-5">
                <div class="col-span-1">
                    <div
                        class="flex flex-col justify-around items-center h-[300px] w-[270px] bg-slate-400 text-black transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800 rounded-lg translate-x-32">
                        <h2 class="text-5xl">1 month</h2>
                        <h3>subscription</h3>
                        <h2 class="text-3xl">Pricing: Rs. 3000</h2>
                    </div>
                    <div
                        class="flex flex-col justify-around items-center h-[300px] w-[270px] bg-slate-400 text-black transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800 rounded-lg translate-x-32  translate-y-5">
                        <h2 class="text-5xl">6 months</h2>
                        <h3>subscription</h3>
                        <h2 class="text-3xl">Pricing: Rs. 10000</h2>
                    </div>
                </div>
                <div class="col-span-1">
                    <div
                        class="flex flex-col justify-around items-center h-[300px] w-[270px] bg-slate-400 text-black transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800 rounded-lg">
                        <h2 class="text-5xl">3 month</h2>
                        <h3>subscription</h3>
                        <h2 class="text-3xl">Pricing: Rs. 6000</h2>
                    </div>
                    <div
                        class="flex flex-col justify-around items-center h-[300px] w-[270px] bg-slate-400 text-black transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800 rounded-lg translate-y-5">
                        <h2 class="text-5xl">1 year</h2>
                        <h3>subscription</h3>
                        <h2 class="text-3xl">Pricing: Rs. 15000</h2>
                    </div>
                </div>
            </div>
            <div class="col-span-1 flex flex-col justify-center items-center">
                <h3 class="text-3xl">Offers</h3>
                <div
                    class="h-[400px] w-[300px] bg-slate-200 rounded-md flex flex-col justify-center items-center gap-2">
                    <div
                        class="h-[30%] w-[90%] bg-slate-400 rounded-md flex flex-col justify-center items-center  transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800">
                        <h3 class="text-xl font-semibold">Get Visitation fee off</h3>
                        <h3>On order above Rs. 200</h3>
                    </div>
                    <div
                        class="h-[30%] w-[90%] bg-slate-400 rounded-md flex flex-col justify-center items-center  transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800">
                        <h3 class="text-xl font-semibold">Assured cashback up to</h3>
                        <h3>Assured Cashback upt to Rs. 1000</h3>
                    </div>
                    <div
                        class="h-[30%] w-[90%] bg-slate-400 rounded-md flex flex-col justify-center items-center  transition ease-in-out hover:scale-110 hover:translate-y-2 hover:bg-teal-400 hover:text-emerald-800">
                        <h3 class="text-xl font-semibold">35% off on Credit Card</h3>
                        <h3>10% off upto Rs. 250</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>