<!DOCTYPE html>
<html>
    <head>
        <title>electrical</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../css/vendor.css">
    </head>
    <body>
        <a class="absolute top-20 right-10 bg-[#92af19] text-white rounded-md px-3 py-1" href="/payment">Proceed to pay</a>
        <div class="aa">
            <p style="font-size:xx-large;font-family:germania one;color:white;margin-top:-15px;margin-left:5px;">Sewa</p>
            <p style="font-size:xx-large;font-family:germania one;color:#92af19;margin-top:-70px;margin-left:75px;">ganj</p>
        </div>
        <div class="bb">
            <a href="/"><button class=jj>HOME</button></a>
        </div>
        <div class="elecontainer1">
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:ABC<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:XYZ<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:RAM<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>    
        <div class="elecontainer1">   
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:SHYAM<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">   
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:HARI<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">   
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:RAM KISHORE<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">   
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:HIRA LAL<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
        <div class="elecontainer1">   
            <img src="../images/dp.png"height="75px" width="75px" style="float:left;border-radius:50%;margin-top:30px;margin-left:15px;">
            <p style="font-size:large;color:white;margin-top:25px;margin-left:20px;">&nbsp;&nbsp;&nbsp;Name:UMESH<br>&nbsp;&nbsp;&nbsp;Location:XXXXXXX<br>&nbsp;&nbsp;&nbsp;Rating:*****<br>&nbsp;&nbsp;&nbsp;<a href="#"><button>More Details-></button></a></p>
        </div>
    </body>
</html>    