<!DOCTYPE html>
<html>

<head>
    <title>types</title>
    <!DOCTYPE html>
    <html>

    <head>
        <title>types</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../css/vendor.css">
    </head>

<body>
    <div class="aa">
        <p style="font-size:xx-large;font-family:germania one;color:white;margin-top:-15px;margin-left:5px;">Sewa
        </p>
        <p class="translate-y-5"
            style="font-size:xx-large;font-family:germania one;color:#92af19;margin-top:-70px;margin-left:75px;">
            ganj</p>
    </div>
    <!-- <div class="bb">
        <a href="/"><button class=jj>HOME</button></a>
    </div> -->
    <a class="absolute top-5 right-5 rounded-md px-3 py-1 bg-[#92af19]" href="/">Home</a>


    <div class="grid grid-cols-2 px-[5%]">
        <div class="col-span-1">
            <div class=container3>
                <img class="b" src="../images/wiring without casing.jfif">
                <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                    Work:-wiring-without-casing<br>price:Rs220/5m<br>visitation fee:-Rs100/-<br>ratings:-<img
                        src="../images/2stars.svg"></p>
                <a href="#"><button class=kk>Add+</button></a>
            </div>
            <div class=container3>
                <img class="b" src="../images/wiring with casing.jfif">
                <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                    work:-wiring-with-casing<br>price:Rs580/5m<br>visitation fee:-rs100/hr<br>Ratings:-<img
                        src="../images/2.5stars.svg"></p>
                <a href="#"><button class=kk>Add+</button></a>
            </div>
        </div>

        <div class="col-span-1">
            <div class=container3>
                <img class="b" src="../images/new internal wiring.jfif">
                <p style="font-size:x-large;margin-left:20px;margin-top:40px;color:white;">
                    work:-new-internal-wiring<br>price:Rs420/5m<br>visitation fee:-Rs100/hr<br>ratings:-<img
                        src="../images/3stars.svg"></p>
                <a href="#"><button class=kk>Add+</button></a>
            </div>
            <div class=container3>
                <img class="b" src="../images/other.jpg">
                <p style="font-size:x-large;margin-left:20px;margin-top:50px;color:white;">book an
                    electrican<br>price:depend on the scope of work<br>visitation fee:-Rs200/</p>
                <a href="/vendor"><button class=kk>See More</button></a>
            </div>

        </div>
    </div>

</body>

</html>